.progress-indicator .percentage {
    -fx-fill: null;
}

.progress-indicator {
    -fx-padding: 5 0 -16 0;
    -fx-progress-color: #504dc1;
}

/**/

#cb_promo {
    -fx-background-color: transparent;
    -fx-mark-color: white;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

#cb_promo > .label {
    -fx-text-fill: white;
}

#cb_promo .context-menu {
    -fx-background-color: white;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    box-sizing: border-box;
    -fx-padding: 5;
}

#cb_promo .menu-item > .label {
    -fx-text-fill: black;
    -fx-pref-width: 180;
}

#cb_promo .menu-item:focused {
    -fx-background-color: #504dc1;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

#cb_promo .menu-item:focused > .label {
    -fx-text-fill: white;
}

/**/
.sp-title {
    -fx-text-fill: rgb(37, 37, 37);
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.btn_niveau_inactive{
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #6e6a69;
}
.btn_niveau_left{
    -fx-background-radius: 5 0 0 5;
}
.btn_niveau_middle{
    -fx-background-radius: 0;
}
.btn_niveau_right{
    -fx-background-radius: 0 5 5 0;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}