#admin_root{
    -fx-background-color: white;
}
#admin_root #navBar{
    -fx-background-color: #272643;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}
#admin_root #navBar #imgAvatar{
    -fx-stroke-width: 3;
    -fx-fill: transparent;
    -fx-stroke: white;
}
/**/
#admin_root #navBar .navLink{
    -fx-background-color: white;
    -size: 24;
    -height:20;
    -fx-min-height: -height;
    -fx-min-width: -size;
    -fx-max-height: -height;
    -fx-max-width: -size;
    -fx-cursor: hand;
    -fx-scale-shape: false;
}
#admin_root #navBar .navLink:pressed, .navLink:focused,.navLink:hover{
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.15), 8, 1.0, 0, 0);
}
#admin_root #navBar .navLink-users{
    -fx-shape: "M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z";
}
#admin_root #navBar .navLink-add-user{
    -fx-shape: "M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z";
}
#admin_root #navBar .navLink-exit{
    -fx-shape: "M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z";
}