#root {
    -fx-background-color: #272643;
}

#auth_form {
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 10;
}

#auth_form #title {
    -fx-font-size: 27;
    -fx-font-weight: bold;
    -fx-text-fill: #0F172A;
}

#auth_form .text-field, .password-field {
    -fx-border-color: #64748B;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-insets: none;
}

#auth_form .text-field:focused, .password-field:focused {
    -fx-background-insets: none;
    -fx-effect: dropshadow(gaussian, #CBD5E1, 3, 1.0, 0, 0);
}

#auth_form #btn_login {
    -fx-background-color: #272643;
    /*-fx-border-color: #272643;
    -fx-border-width: 2;
    -fx-border-radius: 5; */
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-padding: 6;
}

#auth_form #btn_login:hover {
    -fx-background-color: #393762;
}

#auth_form #btn_login:pressed {
    -fx-background-color: #dedeed;
    -fx-text-fill: #5c5ca3;
}
#auth_form #btn_login:focused {
    -fx-background-color: #dedeed;
    -fx-text-fill: #5c5ca3;
    -fx-effect: dropshadow(gaussian, #bdbddb, 3, 1.0, 0, 0);
}