* {
    font-family: system-ui;
}

#formateur_root {
    -fx-background-color: white;
}

#formateur_root #navBar {
    -fx-background-color: #272643;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}

#formateur_root #navBar #nomUser {
    -fx-fill: white;
}

#formateur_root #navBar #imgAvatar {
    -fx-stroke-width: 3;
    -fx-fill: transparent;
    -fx-stroke: white;
}

/**/
#formateur_root #navBar .navLink {
    -fx-background-color: white;
    -size: 24;
    -height: 20;
    -fx-min-height: -height;
    -fx-min-width: -size;
    -fx-max-height: -height;
    -fx-max-width: -size;
    -fx-cursor: hand;
    -fx-scale-shape: false;
}

#formateur_root #navBar .navLink:pressed, .navLink:focused, .navLink:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.15), 8, 1.0, 0, 0);
}

#formateur_root #navBar .navLink-absense {
    -fx-background-color: transparent;
    -fx-stroke: white;
    -fx-border-color: white;
    -fx-stroke-width: 2;
    -fx-border-width: 1.75;
    -fx-shape: "M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z";
}

#formateur_root #navBar .navLink-exit {
    -fx-shape: "M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z";
}

/* */
/* */
#formateur_root #root_gestion_absense .content_title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #0F172A;
}

#formateur_root #root_gestion_absense .content_subtitle {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #0F172A;
}

#formateur_root #root_gestion_absense .srch_input {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: #D2D6DB;
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-text-fill: #676878;
}

#formateur_root #root_gestion_absense #list_apprenant {
    -fx-background-color: transparent;
}

#formateur_root #root_gestion_absense #list_apprenant > .viewport {
    -fx-background-color: transparent;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card {
    -fx-background-color: transparent;
    -fx-pref-width: 190;
    -height: 80;
    -fx-pref-height: -height;
    -fx-max-height: -height;
    -fx-cursor: hand;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card .indicator {
    -fx-stroke: #E2E8F0;
    -fx-fill: white;
    -fx-stroke-width: 2;
    -fx-translate-x: 174;
    -fx-translate-y: 16;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card .inner_cont {
    -fx-background-color: white;
    -fx-padding: 6 8;
    -fx-pref-width: 190;
    -height: 80;
    -fx-pref-height: -height;
    -fx-max-height: -height;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-border-color: #E2E8F0;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card .inner_cont .label {
    -fx-text-fill: #64748B;
    -fx-font-size: 12;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card .inner_cont .nom {
    -fx-text-fill: #4f5b6d;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-max-width: 160;
}

/**/
#formateur_root #root_gestion_absense #list_apprenant .apprenant_card_active .indicator {
    -fx-stroke: #B4E7DC;
    -fx-fill: #51B6AB;
    -fx-stroke-width: 3;
}

#formateur_root #root_gestion_absense #list_apprenant .apprenant_card_active .inner_cont {
    -fx-background-color: #F9FEFD;
    -fx-border-color: #51B6AB;
}

/**/
/* Seance */

#formateur_root #root_gestion_absense #list_seance {
    -fx-background-color: transparent;
}

#formateur_root #root_gestion_absense #list_seance > .viewport {
    -fx-background-color: transparent;
}
#formateur_root #root_gestion_absense #list_seance .seance_card {
    -fx-background-color: transparent;
    -fx-pref-width: 190;
    -height: 60;
    -fx-pref-height: -height;
    -fx-max-height: -height;
    -fx-cursor: hand;
}
#formateur_root #root_gestion_absense #list_seance .seance_card .indicator {
    -fx-stroke: #E2E8F0;
    -fx-fill: white;
    -fx-stroke-width: 2;
    -fx-translate-x: 174;
    -fx-translate-y: 16;
}
#formateur_root #root_gestion_absense #list_seance .seance_card .inner_cont {
    -fx-background-color: white;
    -fx-padding: 6 8;
    -fx-pref-width: 190;
    -height: 60;
    -fx-pref-height: -height;
    -fx-max-height: -height;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-border-color: #E2E8F0;
}
#formateur_root #root_gestion_absense #list_seance .seance_card .inner_cont .label {
    -fx-text-fill: #64748B;
    -fx-font-size: 12;
}
#formateur_root #root_gestion_absense #list_seance .seance_card .inner_cont .dateS {
    -fx-text-fill: #4f5b6d;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-max-width: 160;
}
#formateur_root #root_gestion_absense #list_seance .seance_card_active .indicator {
    -fx-stroke: #B4E7DC;
    -fx-fill: #51B6AB;
    -fx-stroke-width: 3;
}
#formateur_root #root_gestion_absense #list_seance .seance_card_active .inner_cont {
    -fx-background-color: #F9FEFD;
    -fx-border-color: #51B6AB;
}
#formateur_root #root_gestion_absense #btn_add{
    -fx-text-fill: white;
    -fx-background-color: #272643;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-cursor: hand;
}
#formateur_root #root_gestion_absense #abs_duration{
    -fx-text-fill: #64748B;
    -fx-border-color: #bec4cc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-insets: none;
    -fx-background-color: white;
}