@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@font-face {
    font-family: 'Kollektif';
    src: local('Kollektif'), url(../fonts/Kollektif.ttf) format('ttf');
}

@font-face {
    font-family: 'Kollektif';
    src: local('Kollektif-Bold'), url(../fonts/Kollektif-Bold.ttf) format('ttf');
}

@tailwind utilities;