@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@font-face {
    font-family: 'Kollektif';
    src: local('Kollektif'), url(../fonts/Kollektif.ttf) format('ttf');
}

@font-face {
    font-family: 'Kollektif';
    src: local('Kollektif-Bold'), url(../fonts/Kollektif-Bold.ttf) format('ttf');
}

@layer components {
    .msg-host-container {
        @apply w-full flex items-end justify-end;
    }

    .msg-remote-container {
        @apply w-full flex items-start justify-start;
    }

    .msg-host-text {
        @apply max-w-3xl py-4 px-7 text-coolGray-600 bg-coolGray-50 rounded-20;
    }

    .msg-remote-text {
        @apply max-w-3xl py-4 px-7 text-coolGray-600 bg-white border border-coolGray-100 rounded-20;
    }
}

@tailwind utilities;